@font-face {
    font-family: kremlin;
    src: url('../Fonts/kremlin.ttf');
}

@-ms-viewport {
    width: device-width;
}

body {
    min-height: 20rem;
}

.navbar-brand {
    font-family: kremlin, sans-serif;
    font-size: 2.5rem;
    letter-spacing: .4rem;
    border-right: none;
    color: #c8c8c8;
    padding-left: 0;
}

.kremlinizer {
    font-family: kremlin, sans-serif;
}

#page-content {
    position: relative;
    padding-top: 84px;
}

main {
    position: relative;
}

#ada-sites {
    text-align: center;
}

#ada-sites > .ada-site {
    vertical-align: top;
}

.ada-site {
    position: relative;
    display: inline-block;
    width: 400px;
    margin: 0 10px 20px;
    text-align: left;
}

.ada-site-detail {
    display: block;
    margin: 0 0 25px;
    font-weight: normal;
}