@font-face {
    font-family: kremlin;
    src: url('../Fonts/kremlin.ttf');
}

@font-face {
    font-family: bahnshrift;
    src: url('../Fonts/bahnschrift.ttf');
}

@-ms-viewport {
    width: device-width;
}

body {
    min-height: 20rem;
}

.navbar-brand {
    border-right: none;
    color: #c8c8c8;
    padding-left: 0;
}

#ada-title {
    font-family: kremlin, sans-serif;
    font-size: 2rem;
    letter-spacing: .4rem;
}

#site-title, #site-separator {
    font-family: bahnshrift, sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

#site-title, .site-title {
    font-family: bahnshrift, sans-serif;
    letter-spacing: .3rem;
    text-shadow: 0 2px 0 #000, 0 4px 4px rgba(0,0,0,.2);
}

#site-separator {
    font-size: 1.25rem;
    opacity: .3;
    margin-left: 1rem;
    margin-right: 1.3rem;
}

.kremlinizer {
    font-family: kremlin, sans-serif;
}

.bahnizer {
    font-family: bahnshrift, sans-serif;
}

#page-content {
    position: relative;
    padding-top: 72px;
}