@import "slacker-mixins";
@import "slacker-variables";

/* ---------------------------------------------- /*
 * Root
/* ---------------------------------------------- */

@-ms-viewport {
    width: device-width;
}


html {
    -ms-overflow-style: scrollbar;
}

body {
    min-height: 20rem;
}