@import "slacker-mixins";
@import "slacker-variables";

/* ---------------------------------------------- /*
 * Fonts
/* ---------------------------------------------- */

@font-face {
    font-family: bahnshrift;
    src: url('../../Fonts/bahnschrift.ttf');
}

@font-face {
    font-family: kremlin;
    src: url('../../Fonts/kremlin.ttf');
}

@font-face {
    font-family: purista;
    src: url('../../Fonts/purista.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: purista;
    src: url('../../Fonts/purista semibold.ttf');
    font-weight: bold;
    font-style: normal;
}

.kremlinizer {
    font-family: kremlin, sans-serif;
}

.puristizer {
    font-family: purista, sans-serif;
}